# Copiez ce fichier dans .env et modifiez les valeurs en fonction de votre environnement.

# ────────────────────────────── API ────────────────────────────────
# --- Infos API
TITLE=Fake News Detector API
VERSION=1.0.0
DESCRIPTION=API REST de classification REAL / FAKE sur des titres de presse

# --- Securité API
X_API_Key=ma_cle_secrete
USER=user
PASSWORD=password

# --- ML Modèle à utiliser
MODEL_NAME=best_model_tfidf.keras
VECTORIZER_NAME=tfidf_vectorizer.pkl

# ────────────────────────────── LOGS ───────────────────────────────
FILE_LOG=True
LOG_DIR_NAME="logs"
API_LOG_FILE_NAME="api.log"
DEBUG_MODE=false